{% extends 'base.html.twig' %}

{% block title %}Page de commentaire{% endblock %}

{% block body %}
    <h1>{{ city.name }}</h1>
    <h2>Ajout de commentaire</h2>

    {{ form_start(formulaire, {'attr': {'novalidate': 'novalidate'}})}}
        {{ form_row(formulaire.username) }}
        {{form_row(formulaire.content)}}
        {{form_row(formulaire.rating)}}
        <input type="submit" value="Ajouter">
    {{ form_end(formulaire)}}


{% endblock %}
