{% set isCitiesCountry = (app.request.attributes.get("_route") ends with "country") %}
{% set isCitiesList = app.request.requestUri ends with "/cities" %}
{% set isCitiesListPaginate = app.request.requestUri | urlContains("/cities?page") %}
{% set isSortedASC = app.request.requestUri ends with "/cities/asc" %}
{% set isSortedDESC = app.request.requestUri ends with "/cities/desc" %}
{% set isCitiesFiltered = app.request.requestUri | urlContains('filter_data') %}
{% set isCitiesSearch = (app.request.attributes.get("_route") ends with "search") %}

{% if isCitiesCountry %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.id}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                {# ! retrieve 1 image by country by city with dql request  #}
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.country.image.url }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.name }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.country.name}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.rating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>

{% elseif isCitiesList %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.cityId}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.imageUrl }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.cityName }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.countryName}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.cityRating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>
        
{# citiesFilter #}
{% elseif isCitiesFiltered %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.id}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                {# ! retrieve 1 image by country by city with dql request  #}
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.country.image.url }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.name }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.country.name}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.rating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>

{% elseif isCitiesSearch %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.cityId}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.imageUrl }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.cityName }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.countryName}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.cityRating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>

{% elseif isCitiesListPaginate %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.cityId}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.imageUrl }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.cityName }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.countryName}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.cityRating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>

{% elseif isSortedASC %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.cityId}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.imageUrl }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.cityName }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.countryName}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.cityRating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>

{% elseif isSortedDESC %}

    <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <a href="{{ path('cities_detail', {'id': city.cityId}) }}">
            <div class="w-full h-96 relative overflow-hidden">
                <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
                style="background-image:url('{{ city.imageUrl }}')">
                </div>
                <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.cityName }}</h2>
                    <h2 class="p-2 text-2xl font-bold w-fit">
                        {{ city.countryName}}</h2>
                    {% include "/partials/_favorites.html.twig" %}
                </span>

                {# stars rating #}
                <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                {% set ratingStars = city.cityRating|round %}
                {% include 'partials/_stars.html.twig' with { ratingStars: ratingStars } %}
                </div>
            </div>
        </a>


{% endif %}

    </div>