<header>
    <nav class="border-gray-200 p-1 bg-cyan-900">
        <div class="container mx-auto flex flex-wrap items-center justify-between">
            <a href="{{ path('default') }}" class="flex">
                <img src="{{ asset('images/logo_image.png') }}" class=" flex-row md:h-16 md:mx-1 hidden md:block rounded-full" alt="Logo New O'Rizon">
                <span class="self-center text-2xl md:text-5xl font-semibold whitespace-nowrap text-white ml-3">New O'Rizon</span>
            </a>

            <a href="{{ path('cities_list') }}" class="hidden md:block flex self-center ml-auto md:text-sm lg:text-xl font-semibold whitespace-nowrap text-white ml-3">Liste des villes
            </a>
            
            <button data-collapse-toggle="mobile-menu" type="button" class="md:hidden ml-3 text-gray-400 hover:text-gray-900 focus:outline-none rounded-lg inline-flex items-center justify-center" aria-controls="mobile-menu-2" aria-expanded="false">
                <span class="sr-only">Ouverture menu principal</span>
                <svg class="w-10 h-10" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd">
                    </path>
                </svg>
            </button>
            <div class="hidden md:block w-full md:w-auto" id="mobile-menu">
                <ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
                    <li>
                        <a href="{{ path('cities_list') }}" class="text-white hover:border-4 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-white md:p-0 md:hidden">Liste des villes</a>
                    </li>
                    <li>
                        <a href="{{ path('favorites') }}" class="text-white hover:border-4 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-white md:p-0 md:hidden">Mes favoris</a>
                    </li>
                    <li>
                        <a href="{{ path('aboutUs') }}" class="text-white hover:border-4 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-white md:p-0 md:hidden">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="#" class="text-white hover:border-4 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-white md:p-0 md:hidden">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="text-white hover:border-4 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-white md:p-0 md:hidden">Mentions Légales</a>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="md:hover:bg-transparent md:border-0 pl-3 pr-4 py-2 flex items-center justify-between w-full md:w-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512" fill="white">
                                
                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar" class="hidden bg-white text-base z-10 list-none divide-y divide-gray-700 rounded shadow my-4 w-44 border-gray-700">
                            <ul class="py-1" aria-labelledby="dropdownLargeButton">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %} 
                            {% set user = app.user %}
                            {# ! add path() user perfil #}
                                <li>
                                    <a href="#" class="text-md hover:bg-gray-100 text-gray-700 block px-4 py-2">{{ user.firstname }} {{ user.lastname }}</a>
                                </li>
                                <li class="hidden lg:block">
                                    <a href="{{ path('favorites') }}" class="text-md hover:bg-gray-100 text-gray-700 block px-4 py-2">Mes favoris</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_back_default')}}">Backoffice</a>
                                </li>
                            </ul>
                            <div class="py-1">
                                <a href="{{ path('app_logout') }}" class="text-md hover:bg-gray-100 text-gray-700 block px-4 py-2">Déconnexion</a>
                            </div>
                            {% else %}
                            <div class="p-1">
                                <a href="{{ path('app_login') }}" class="text-md hover:bg-gray-100 text-gray-700 block px-2 py-2">Inscription/Connexion</a>
                            </div>
                            {% endif %}   
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>