{% set isCities = (app.request.attributes.get("_route") ends with "default")%}
{% set isCity = (app.request.attributes.get("_route") ends with "cities_detail")%}

{% if isCities %}

{# Mobile version with carousel#}
<div id="default-carousel" class="relative w-full block lg:hidden" data-carousel="slide" >

    <div class="relative h-56 w-10/12 overflow-hidden rounded-lg mx-auto mt-12">

        {% for city in cities %}
            <a href="{{ path('cities_detail', {'id': city.cityId}) }}">
                <div class="duration-700 ease-in-out" data-carousel-item>
                    
                        <div class="w-full h-full absolute transition-transform duration-300 "
                            style="background-image:url('{{ city.imageUrl }}')"
                            class="relative block w-full mx-2 -translate-x -translate-y hover:scale-105"
                            alt="Photo d'une ville au hasard">
                        </div>
                    
                    
                    <div>
                        <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                            <h2 class="p-2 text-base md:text-2xl font-bold w-fit">
                                {{ city.cityName }}</h2>
                            <h2 class="p-2 text-base md:text-2xl font-bold w-fit">
                                {{ city.countryName}}</h2>
                            {% include "/partials/_favorites.html.twig" %}

                        </span>
                    </div>
                </div>
            </a>
   
        {% endfor %}

    </div>   

{% endif %}

{% if isCity %}

    {# Desktop version with carousel#}
    <div id="default-carousel" class="relative mx-2 mt-5 mb-3 md:w-1/2 md:mx-auto" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative overflow-hidden rounded-lg h-48 lg:h-96 ">

            {% for image in images %}
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img
                        src="{{ image.url }}"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                        alt="Photo d'une ville au hasard"/>
                </div>

            {% endfor %}

        </div>
      

{% endif %}
