{% set isCities = (app.request.attributes.get("_route") ends with "default")%}
{% set isCity = (app.request.attributes.get("_route") ends with "cities_detail")%}

{% if isCities %}

{# Mobile version with carousel#}
<div id="default-carousel" class="relative w-full block lg:hidden" data-carousel="slide" >

    <div class="relative h-56 w-96 overflow-hidden rounded-lg sm:h-48 md:h-96 mx-auto mt-7">

        {% for image in images %}
            <a href="{{ path('cities_detail', {'id': image.city.id}) }}">
                <div class="duration-700 ease-in-out" data-carousel-item>
                    
                        <div class="w-full h-full absolute transition-transform duration-300 "
                            style="background-image:url('{{ image.url }}')"
                            class="relative block w-full -translate-x -translate-y hover:scale-105"
                            alt="Photo d'une ville au hasard">
                        </div>
                    
                    
                    <div >
                        <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                            <h2 class="p-2 text-base md:text-2xl font-bold w-fit">
                                {{ image.city.name }}</h2>
                            <h2 class="p-2 text-base md:text-2xl font-bold w-fit">
                                {{ image.city.country.name}}</h2>
                            {% include "/partials/_favorites.html.twig" %}

                        </span>
                    </div>
                </div>
            </a>
   
        {% endfor %}

    </div>

{% endif %}

{% if isCity %}

    {# Desktop version with carousel#}
    <div id="default-carousel" class="relative w-1/2 mx-auto" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-full overflow-hidden rounded-lg sm:h-48 md:h-96">

            {% for image in images %}
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img
                        src="{{ image.url }}"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                        alt="Photo d'une ville au hasard">
                </div>

            {% endfor %}

        </div>

{% endif %}
