{% extends 'base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block body %}
    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Liste des pays</h1>
    <p class="text-xl text-start mt-8 mb-4 ml-4 ">* Veuillez supprimer la/les ville(s) associée(s) avant de supprimer le pays</p>

    <table class="table mx-auto w-5/6 align-center">
        <thead>
            <tr class="border-2 divide-x text-center">
                <th>Id</th>
                <th>Nom du pays</th>
                <th>Visa</th>
                <th>Visa requis</th>
                <th>Devise</th>
                <th>Date d'ajout</th>
                <th>Date de modification</th>
                <th>Image*</th>
                <th>Image Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr class="border-2 divide-x text-center">
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.visa }}</td>
                <td>{{ country.visaIsRequired ? 'Yes' : 'No' }}</td>
                <td>{{ country.currency }}</td>
                <td>{{ country.createdAt ? country.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ country.updatedAt ? country.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class ="align-middle text-start text-break max-w-2xs img-thumbnail"><img src="{{country.image.url}}"</img></td>
                <td>{{ country.image.id }}</td>
                <td>
                    <a href="{{ path('app_back_country_show', {'id': country.id}) }}">
                        <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-sky-700 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-sky-400 dark:hover:bg-sky-500 dark:focus:ring-sky-700">Détails</button>
                    </a>
                    <a href="{{ path('app_back_country_edit', {'id': country.id}) }}">
                        <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-orange-700 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-orange-400 dark:hover:bg-orange-500 dark:focus:ring-orange-700">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_country_new') }}">
        <button type="button" class="my-2 mx-auto flex justify-center focus:outline-none text-white bg-emerald-700 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:focus:ring-emerald-700">Créer</button>
    </a>
{% endblock %}
