{% extends 'base.html.twig' %}

{% block title %}liste des villes{% endblock %}

{% block body %}
    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Liste des villes</h1>
    <p class="text-xl text-start mt-8 mb-4 ml-4 ">* Veuillez supprimer l'image avant de supprimer la ville</p>

    <table class="table mx-2">
        <thead>
            <tr class="border-2 divide-x text-center">
                <th>Id</th>
                <th>Nom de la ville</th>
                <th>Pays</th>
                <th>Superficie en m²</th>
                <th>Date d'ajout</th>
                <th>Date de modification</th>
                <th>Qualité du réseau électrique</th>
                <th>Qualité du réseau Internet</th>
                <th>Taux d'ensoleillement</th>
                <th>Température moyenne(°C)</th>
                <th>Coût de la vie(€)</th>
                <th>Langue</th>
                <th>Nombre d'habitants</th>
                <th>Niveau de logement</th>
                <th>Fuseau horaire</th>
                <th>Environment</th>
                <th>Image*</th>
                <th>Id image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr class="border-2 divide-x text-center">
                <td>{{ city.cityId }}</td>
                <td>{{ city.cityName }}</td>
                <td>{{ city.countryName }}</td>
                <td>{{ city.cityArea }}</td>
                <td>{{ city.cityCreatedAt ? city.cityCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ city.cityUpdatedAt ? city.cityUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ city.cityElectricity }}</td>
                <td>{{ city.cityInternet }}</td>
                <td>{{ city.citySunshineRate }}</td>
                <td>{{ city.cityTemperatureAverage }}</td>
                <td>{{ city.cityCost }}</td>
                <td>{{ city.cityLanguage }}</td>
                <td>{{ city.cityDemography }}</td>
                <td>{{ city.cityHousing }}</td>
                <td>{{ city.cityTimezone }}</td>
                <td>{{ city.cityEnvironment }}</td>
                <td class ="align-middle text-start text-break max-w-2xs img-thumbnail"><img src="{{city.imageUrl}}"</img></td>
                <td>{{ city.imageId }}</td>
                <td>
                    <a href="{{ path('app_back_city_show', {'id': city.cityId}) }}">
                        <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-sky-700 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-sky-400 dark:hover:bg-sky-500 dark:focus:ring-sky-700">Détails</button>
                    </a>
                    <a href="{{ path('app_back_city_edit', {'id': city.cityId}) }}">
                        <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-orange-700 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-orange-400 dark:hover:bg-orange-500 dark:focus:ring-orange-700">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_city_new') }}">
        <button type="button" class="my-2 mx-auto flex justify-center focus:outline-none text-white bg-emerald-700 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:focus:ring-emerald-700">Créer</button>
    </a>

    <div class="navigation d-flex justify-content-center text-center">
        {{ knp_pagination_render(cities) }}
    </div>

{% endblock %}

