{% extends 'base.html.twig' %}

{% block title %}Index des commentaires{% endblock %}

{% block body %}

<h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Liste des commentaires</h1>

    <table class="table mx-auto">
        <thead>
            <tr class="border-2 divide-x text-center">
                <th>Id</th>
                <th>Nom de la ville</th>
                <th>Pseudo</th>
                <th>Contenu</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr class="border-2 divide-x text-center">
                <td>{{ review.id }}</td>
                <td>{{ review.city.name }}</td>
                <td>{{ review.username }}</td>
                <td>{{ review.content }}</td>
                <td>{{ review.rating }}</td>
                <td>
                    <a href="{{ path('app_back_review_show', {'id': review.id}) }}">
                        <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-sky-700 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-sky-400 dark:hover:bg-sky-500 dark:focus:ring-sky-700">Détails</button>
                    </a>
                    <a href="{{ path('app_back_review_edit', {'id': review.id}) }}">
                        <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-rose-700 hover:bg-rose-600 focus:ring-4 focus:ring-rose-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-rose-400 dark:hover:bg-rose-500 dark:focus:ring-rose-700">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_review_new') }}">
        <button type="button" class="my-2 mx-auto flex justify-center focus:outline-none text-white bg-emerald-700 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:focus:ring-emerald-700">Créer</button>
    </a>
{% endblock %}
