{% extends 'base.html.twig' %}

{% block title %}New O'rizon Page de ville{% endblock %}

{% block body %}
<div class="w-full grid gap-5 md:gap-0">
    <div class="relative w-full h-96" style="background-image:url('{{ asset('images/city2.jpg') }}')">
        <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
            <h2 class="text-2xl mt-4 font-bold w-fit">
                {{ city.name }}</h2>
            <h2 class="text-2xl mb-2 font-bold w-fit">
                {{ city.country.name}}</h2>
            {% include "/partials/_favorites.html.twig" %}
        </span>
        {# stars rating #}
        <div class="flex justify-center"> 
            <div class="flex flex-nowrap items-center justify-center w-48 h-8 backdrop-brightness-75 drop-shadow-lg">
                <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-regular fa-star-half-stroke drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-regular fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
            </div>
        </div>
    </div>

    <div class="w-full grid lg:grid-cols-5 lg:justify-center lg:items-center lg:px-6 lg:py-9 gap-4">

        <div class="w-full lg:col-span-2 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center mb-4">
                <h5 class="text-xl font-bold leading-none text-cyan-900 dark:text-white">Critères</h5>
            </div>

            <div class="flex flex-wrap divide-y divide-gray-200 dark:divide-gray-700 text-sm md:text-lg">
                
                <div class="flex items-center w-1/2 py-3 space-x-4">
                    <div>
                        <i class="fa-solid fa-bolt fa-xl" style="color: #000000;"></i>
                    </div>
                    <div>
                        <p class="text-cyan-900 dark:text-white font-bold">
                            Electricité
                        </p>
                        <p class="text-cyan-900">
                            {{ city.electricity }}
                        </p>
                    </div>
                </div>    
    
                <div class="flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-solid fa-wifi fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Internet
                            </p>
                            <p class="text-cyan-900">
                                {{ city.internet }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex items-center w-1/2 py-3 space-x-4">
                    <div class="">
                        <i class="fa-regular fa-sun fa-xl" style="color: #000000;"></i>
                    </div>
                    <div>
                        <p class="text-cyan-900 dark:text-white font-bold">
                            Taux d'ensoleillement
                        </p>
                        <p class="text-cyan-900">
                            {{ city.sunshineRate }}
                        </p>
                    </div>
                </div>
        
                <div class="flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4 md:space-x-4 ">
                        <div>
                            <i class="fa-solid fa-temperature-half fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Température moyenne
                            </p>
                            <p class="text-cyan-900">
                                {{ city.temperatureAverage }} °C
                            </p>
                        </div>
                    </div>
                </div>
            
                <div class="flex items-center w-1/2 py-3 space-x-4">
                    <div>
                        <i class="fa-solid fa-sack-dollar fa-xl" style="color: #000000;"></i>
                    </div>
                    <div>
                        <p class="text-cyan-900 dark:text-white font-bold">
                            Coût de la vie
                        </p>
                        <p class="text-cyan-900">
                            {{ city.cost }} Euros
                        </p>
                    </div>
                </div>
        
                <div class="flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-solid fa-people-group fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Démographie
                            </p>
                            <p class="text-cyan-900">
                                {{ city.demography }} habitants
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex items-center w-1/2 py-3 space-x-4">
                    <div>
                        <i class="fa-solid fa-house fa-xl" style="color: #000000;"></i>
                    </div>
                    <div>
                        <p class="text-cyan-900 dark:text-white font-bold">
                            Habitation
                        </p>
                        <p class="text-cyan-900">
                            {{ city.housing }}
                        </p>
                    </div>
                </div>
    
                <div class="flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-regular fa-clock fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Timezone
                            </p>
                            <p class="text-cyan-900">
                                {{ city.timezone }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex items-center w-1/2 py-3 space-x-4">
                    <div>
                        <i class="fa-solid fa-language fa-xl" style="color: #000000;"></i>
                    </div>
                    <div>
                        <p class="text-cyan-900 dark:text-white font-bold">
                            Langue
                        </p>
                        <p class="text-cyan-900">
                            {{ city.language }}
                        </p>
                    </div>
                </div>
            
                <div class="flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-solid fa-passport fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Visa
                            </p>
                            <p class="text-cyan-900">
                                {{ city.country.visa }}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="flex items-center w-1/2 py-3 space-x-4">
                    <div>
                        <i class="fa-solid fa-person-military-pointing fa-xl" style="color: #000000;"></i>
                    </div>
                    <div>
                        <p class="text-cyan-900 dark:text-white font-bold">
                            Visa requis
                        </p>
                        <p class="text-cyan-900">
                            {{ city.country.visaIsRequired }}
                        </p>
                    </div>
                </div>
            
                <div class="flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-brands fa-bitcoin fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Monnaie
                            </p>
                            <p class="text-cyan-900">
                                {{ city.country.currency }}
                            </p>
                        </div>
                    </div>
                </div>
                {# revealed with button criteria below #}
                <div class="criteria-expanded hidden flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-regular fa-image fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Environnement
                            </p>
                            <p class="text-cyan-900">
                                {{ city.environment }}
                            </p>
                        </div>
                    </div>
                </div>
                {# revealed with button criteria below #}
                <div class="criteria-expanded hidden flex items-center w-1/2 py-3 space-x-4">        
                    <div class="flex items-center space-x-4">
                        <div>
                            <i class="fa-solid fa-ruler fa-xl" style="color: #000000;"></i>
                        </div>
                        <div>
                            <p class="text-cyan-900 dark:text-white font-bold">
                                Superficie
                            </p>
                            <p class="text-cyan-900">
                                {{ city.area }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="criteria" class="mt-5 w-fit">
                <button id="toggle-criteria" type="button" class="w-full hover:bg-sky-600 hover:text-white text-base leading-4 font-bold py-4 px-10 text-cyan-900 bg-white border-gray-900 border-2 rounded-lg">Plus de critères</button>
            </div>

        </div>

        {# container #}
        <div class="md:col-span-3 lg:w-full lg:h-full mx-2 flex flex-row py-2">

            {# google maps integration #}
            <div id="my-map" class="h-full w-5/6">
                <iframe
                class="w-full h-full"
                src="https://www.openstreetmap.org/export/embed.html?bbox=7.1625709533691415%2C43.645019610189216%2C7.3891639709472665%2C43.74741309973937&amp;layer=mapnik"
                style="border: 1px solid black"
                allowfullscreen>
                </iframe>
                <span class="small relative left-0">
                    <a href="https://www.openstreetmap.org/#map=13/43.6962/7.2759">Afficher une carte plus grande</a>
                </span>
            </div>

            {# api weather integration #}
            <div class = "w-1/6 ml-2">
                {# text hidden mobile version #}
                <h2 class="hidden md:block pb-1 text-md w-fit">Météo actuelle :</h2>
                <ion-icon name="rainy-outline" size="large"></ion-icon>
                {# text hidden mobile version #}
                <h2 class="hidden md:block text-md w-fit">Température :</h2>
                <h2 class="p-1 text-md w-fit">
                    {{ city.temperatureAverage }} °C
                </h2>
            </div>

        </div>

    </div>

    {% include 'partials/_slide_buttons.html.twig' %}
</div>    

{% endblock %}
